[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"
pynacl = "*"
"discord.py" = "==2.1.0"
flask = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.9"
